@code {
    public string SampleText => "Some text";
}

<!doctype html>
<html>
<head>
    <title>Custom web components</title>
    @* <script type="module" src="custom/module.js"></script> *@
    <script type="module" src="custom/display/mth-display.js"></script>
    <script type="module" src="custom/label/mth-label.js"></script>
    @* <link href="custom/theme.css" rel="stylesheet"> *@
    <link href="UIComponentDemo.styles.css" rel="stylesheet">
</head>
<body>

<a href="/">Home</a>
<header>
    <h1>Custom web components</h1>

    <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Components/Using_custom_elements">Creating custom web components</a>
</header>


<main>

    <mth-label>Example label</mth-label>

    <mth-display>Some markdown text</mth-display>

    

</main>

</body>
</html>