@code {
    public string SampleText => "Some text";
}

<!doctype html>
<html>
<head>
    <title>Shoelace components</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace@2.12.0/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace@2.12.0/cdn/shoelace-autoloader.js"></script>
    <link href="UIComponentDemo.styles.css" rel="stylesheet">
</head>
<body>

<a href="/">Home</a>
<header>
    <h1>Shoelace components</h1>

    <a target="_blank" href="https://shoelace.style/">Component Documentation</a>
</header>
<sl-divider></sl-divider>

<main>

    <section class="component">
        <sl-input name="Email"
            label="Simple text box expecting email"
            class="label-on-left" 
            size="medium" 
            type="email"
            placeholder="user@email.com" 
            help-text="HELP!"
        >Email</sl-input>
    </section>

    <section class="component">
        <sl-input name="SelectButtonAnswer"
            type="hidden" 
            label="Select button component"
        ></sl-input>
        <sl-button-group label="Select button component">
            <sl-button id="button" size="medium">Option A</sl-button>
            <sl-button id="button" size="medium">Option B</sl-button>
            <sl-button id="button" size="medium">Option C</sl-button>
        </sl-button-group>
    </section>

    <section class="component">
        <sl-checkbox name="CheckboxAnswer">Did you check this?</sl-checkbox>
        <br />
        <sl-checkbox checked disabled>Is this disabled?</sl-checkbox>
        <br />
        <sl-checkbox checked>Checked by default?</sl-checkbox>
    </section>

    <section class="component">
        <h3>Select list (does not seem to be a searchahead alternative)</h3>
        <sl-select name="SelectListAnswer"
            title="Select a section"
            placeholder="--select--">
            <sl-option value="1">Beginning</sl-option>
            <sl-option value="2">Middle</sl-option>
            <sl-option value="3">End</sl-option>
        </sl-select>
    </section>

    <section class="component">
        <sl-switch name="toggleAnswer">
            Select this?
        </sl-switch>
    </section>

</main>

</body>
</html>