@code {
    public string SampleText => "Some text";
}

<!doctype html>
<html>
<head>
    <title>Svelte packaged components</title>
    <script type="module" src="svelte/mth-lib.js"></script>
    <link href="svelte/style.css" rel="stylesheet">
    <link href="UIComponentDemo.styles.css" rel="stylesheet">
</head>
<body>

<a href="/">Home</a>
<header>
    <h1>Svelte packaged components</h1>

    <a target="_blank" href="https://svelte.dev/docs/custom-elements-api">Svelte custom element documentation</a>
</header>


<main>

    <section class="component">
    </section>

    <section class="component">
        <mth-option-buttons></mth-option-buttons>
    </section>

    <section class="component">
        
    </section>

    <section class="component">
        
    </section>

    <section class="component">
        
    </section>

</main>

</body>
</html>